@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <title>Let's Play Bowling Together</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            margin: 20px auto;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label, input, button {
            display: block;
            width: 90%;
            margin: 10px auto;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }
    </style>

</head>



<body>
    <h1>Let's Play Bowling Together</h1>
    <br/>
    <br/>
    <h2>Instructions : </h2>
    <br/>
    <div>
    <h5>
    Learn the scoring. If a bowler has an open frame, then they simply get for the number of pins they knocked down. 
    If a bowler knocked down 6 pins after two turns, they simply get two turns. 
    However, if a bowler hits a spare or a strike, the rules get slightly more complicated.
    If a bowler hits a spare, then they should place a slash mark on their score sheet. 
    After their next turn, they will receive 10 points plus the number of pins they knock down with that turn. 
    So if they knock down 3 pins after their first turn, then they will get 13 points before their second turn. If they then knock down 2 pins in their second turn, they get a total of 15 points for that round.
    If a bowler hits a strike, they should record an X on their scoresheet. 
    The strike will earn the bowler ten points plus the number of pins knocked down on the player's next two turns in the following round.
    The most a bowler can score in one game is 300 points. 
    This represents 12 strikes in a row, or 120 pins that were knocked down in 12 frames. 
    A perfect game has 12 strikes and not ten, because if the bowler gets a strike on the last frame, then they can take two more turns. If those two turns are also strikes, they will have 300 points.[7]
    </h5>
    </div>
    @using (Html.BeginForm("ProceedToGame", "Instructions", FormMethod.Post))
    {
        <div>
            <input type="submit" value="Proceed to Game !" />
        </div>
    }
</body>