@model List<App_Bowling.Models.Joueur>;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<html>
<head>
    <title>Let's Play Bowling Together</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            margin: 20px auto;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label, input, button {
            display: block;
            width: 90%;
            margin: 10px auto;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }
    </style>

</head>



<body>
    <h1>Let's Play Bowling Together</h1>



    @using (Html.BeginForm("GetJoueurs", "Welcome", FormMethod.Post))
    {
        <label for="positiveIntegerInput">Number of frames:</label>
        <input type="text" id="nb_frames" name="nb_frames" pattern="[0-9]+" title="Please enter a valid number of frames" required>

        <label for="positiveIntegerInput">Number of Bowling Pins:</label>
        <input type="text" id="nb_frames" name="nb_quilles" pattern="[0-9]+" title="Please enter a valid number of bowling pins" required>


        <div id="ListeJoueur">
            <label>Joueur 1</label>
            <input type="text" name="joueur1" required/>

        </div>

        <div>
            <input type="button" style="background-color:forestgreen; color:white" value=" Ajouter Joueur " id="addJoueurButton" />
            <input type="submit" value="Submit" id="submit" />
        </div>


        <script type="text/javascript">

            document.getElementById('addJoueurButton').addEventListener('click', function () {
                var container = document.getElementById('ListeJoueur');
                var index = container.getElementsByTagName('input').length + 1;

                var newLabel = document.createElement('label');
                newLabel.innerHTML = 'Joueur ' + index;
                container.appendChild(newLabel);

                var newInput = document.createElement('input');
                newInput.type = 'text';
                newInput.name = 'joueur' + index;
                newInput.onchange = function () {
                    if (!isNameUnique()) {
                        alert('Ce nom est déjà utilisé. Veuillez choisir un autre nom.');
                        newInput.value = '';
                    }
                };
                container.appendChild(newInput);

                document.getElementById('submit').disabled = false;
            });

            function isNameUnique() {
                var inputs = document.getElementById('ListeJoueur').getElementsByTagName('input');
                var names = [];
                for (var i = 0; i < inputs.length; i++) {
                    var currentName = inputs[i].value; 
                    if (names.includes(currentName)) {
                        return false;
                    }
                    if (currentName) {
                        names.push(currentName);
                    }
                }
                return true;
            }
        </script>
    }

    
    

</body>
</html>


